# /etc/udev/rules.d/
# sudo udevadm control --reload
KERNEL=="mmcblk0p1", ACTION=="add", RUN+="/bin/systemctl start external-drive-mount@%k.service"
KERNEL=="mmcblk0p1", ACTION=="remove", RUN+="/bin/systemctl stop external-drive-mount@%k.service"
